# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# Visual Studio 임시 폴더 및 캐시
.vs/

# 빌드 결과물 (실행 파일 및 목적 파일)
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.exe
*.obj
*.pdb
*.log

# 프로젝트 개인 설정 파일
*.vcxproj.user