### C

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# Visual Studio 임시 폴더 및 캐시
.vs/

# 빌드 결과물 (실행 파일 및 목적 파일)
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.exe
*.obj
*.pdb
*.log

# 프로젝트 개인 설정 파일
*.vcxproj.user


### Python

# Virtual Environments
.venv/
venv/
ENV/
env/
bin/
lib/
include/


# Byte-compiled / optimized / DLL objects
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so


# Environments and secret keys
.env
.env.local
.env.*
*.secret
secrets.json


# Distribution / packaging
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Pytest / Coverage / QA
.pytest_cache/
.htmlcov/
htmlcov/
.tox/
.nosexy/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.ruff_cache/
.mypy_cache/

